extends layout.pug

block content
  header.row
    h1.col Issue Tracker Dashboard
  
  div.row
    div.col.text-center
      h3 Projects: 
        span #{num}
  div.row.justify-content-around
    each val, key in projects
      p
        span= ' ' + key + ' '
        span.lead issues:
        span= ' ' + val + ' '
	
  div.row
    div(id='testui' style='margin-left: 5%').col
      h3 Submit a issue 
      form(id="testForm")
        input(type="text" class="form-control project-post" name="project_name" placeholder="*Project Title" required)
        input(type="text" class="form-control" name="issue_title" placeholder="*Issue Title" required)
        textarea(type="text" class="form-control" name="issue_text" placeholder="*Text" required)
        input(type="text" class="form-control" name="created_by" placeholder="*Created by" required)
        input(type="text" class="form-control" name="assigned_to" placeholder="(opt)Assigned to")
        input(type="text" class="form-control" name="status_text" placeholder="(opt)Status text")
        button(type="submit" class="btn btn-primary btn-block") Submit Issue 
      br
      h3 Update a issue
      form(id="testForm2")
        input(type="text" class="form-control" name="_id" placeholder="*_id" required)
        input(type="text" class="form-control project-put" name="project_name" placeholder="*Project Title" required)
        input(type="text" class="form-control" name="issue_title" placeholder="(opt)Issue Title")
        textarea(type="text" class="form-control" name="issue_text" placeholder="(opt)Text")
        input(type="text" class="form-control" name="created_by" placeholder="(opt)Created by")
        input(type="text" class="form-control" name="assigned_to" placeholder="(opt)Assigned to")
        input(type="text" class="form-control" name="status_text" placeholder="(opt)Status text")
        div(class="form-check")
          input(type="checkbox" class="form-check-input" name="open" value=false)
          label(class="form-check-label" for="open") Check to close issue 
        button(type="submit" class="btn btn-success btn-block") Update Issue 
      br
      h3 Delete a issue
      form(id="testForm3")
        input(type="text" class="form-control" name="_id" placeholder="_id" required)
        input(type="text" class="form-control project-del" name="project_name" placeholder="*Project Title" required)
        button(type="submit" class="btn btn-danger btn-block") Delete Issue
      hr
      
      code(id='jsonResult')
      p#dataInfo
      

block append scripts
  script(src='../public/index.js')
  
   