@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  padding: 10px;
  font-family: 'Roboto', sans-serif;
}

.issue {
  border-color: black;
}

.closed {
  background-color: lightgrey;
}

.id {
  font-size: 12px;
}

h1 {
  text-align: center;
}

button {
  cursor: pointer;
}

input, textarea, div {
  margin-bottom: 10px;
}